.kr-tw-followcard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;

}

.kr-tw-followcard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.kr-tw-followcard-info {
  display: flex;
  flex-direction: column;
}   

.kr-tw-followcard-infoUserName {
  opacity: .6;
}

.kr-tw-followcard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.kr-tw-followcard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
}

.kr-tw-followcard-button:hover{
   background-color: #57bcc4;
   transition: .3s ease all background-color;
   opacity: .8;
}

.kr-tw-followcard-button.is-following{
  border: 1px solid #bbb;
  background:  transparent;
  color : white;
  width: 130px;
}


.kr-tw-followcard-button.is-following:hover{
  color: red;
  background-color: rgba(255, 0, 0, 0.123);
  border: 1px solid red;
}

.kr-tw-followcard-button.is-following:hover .kr-tw-followcard-stopFollow{
  display: block;
}


.kr-tw-followcard-stopFollow {
  display: none;
}

.kr-tw-followcard-text{
  display: block;
}

.kr-tw-followcard-button.is-following:hover .kr-tw-followcard-text{
  display: none;
}